.container {
    width: 600px;
    aspect-ratio: 1/1;
    border: 5px solid gray;
    
}

.gridDivs {
    
    background-color: white;
    
    user-select: none;
    

}

.outerContainer {
   display:flex;
   justify-content: space-around;
   margin-top: 40px;
   
}

.release {
    background-color: white;
}

.btnDiv {
    margin-top: 40px;
   display:flex;
   justify-content: center;
   align-items: center;

}

.resetBtn {
    width: 100px;
    height: 40px;
}

.randomBtn {
    width: 100px;
    height: 40px;
}

.hoverOver {
    background-color: yellow;
}