.container {
    
    
}

.gridDivs {
    border: 5px solid black;
    background-color: white;
    width: 1em;
    height: 1em;

}

.outerContainer {
   display:flex;
   justify-content: space-around;
   margin-top: 40px;
   
}

.release {
    background-color: white;
}

.hoverOver {
    background-color: yellow;
}